{% extends 'base.html' %}

{% load static %}

{% block title %}Registrar alimno{% endblock %}

{% block content %}



<div class="container" id="contenedor">

  <h1 style="color: rgb(155, 155, 155); text-align: center;">Añadir Carreras</h1>
  <div class="table-responsive"> 
  <table class="table table-dark table-hover " id="mytable">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Cuatrimestral</th>
          <th scope="col">Num. Cuatrimestres</th> 
          <th scope="col">Semestral</th>
          <th scope="col">Num. de Semestres</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for Carrera in Carreras %}
        <tr>
          <th scope="row">{{Carrera.Nombre}}</th>
          {% if Carrera.Cuatrimestral == True %}
            <td>Si</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>{{Carrera.NumCuatrimestres}}</td>
            {% if Carrera.Semestral == True %}
            <td>Si</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>{{Carrera.NumSemestres}}</td>

            <td>
            <a href="{% url 'editcarreras' Carrera.id %}"><button class="btn btn-primary" type="submit" style="font-size: 15px;">Editar</button></a> 
            <a href="{% url 'delCarrera' Carrera.id %}"><button class="btn btn-danger" type="submit" onclick="eliminar()" style="font-size: 15px;" >Eliminar</button></a> 
            </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>


  </div>
  
</div>
<div>
  <br></div>
</div>

<div class="container" id="contenedor">

  <h1 style="color: rgb(155, 155, 155); text-align: center;">Añadir Carrera</h1>
  
  <table class="table table-dark table-hover " id="mytable">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        {% for iteam in form %}
        <tr>
          <th scope="row">{{iteam.name}} :</th>
          <td>{{iteam}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



  
</div>

<div class="container" id="contenedor">

  <h1 style="color: rgb(155, 155, 155); text-align: center;">Alumnos Registrados</h1>
  <div class="table-responsive"> 
  <table class="table table-dark table-hover " id="mytable">
      <thead>
      </thead>
      <tbody>
        {% for iteam in form %}
        <tr>
          <th scope="row">{{iteam.name}} :</th>
          <td>{{iteam}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
  
</div>







<!-- solicitar datoss-->
    <form method="post" style="margin-left: 20px;">
        <Table class="table table-bordered">
        {% csrf_token %}
        {{ form.as_table }}
        </Table>
        <button  class="btn btn-primary">Añadir Carrera o  editar</button>



        


</form>

{% endblock %}