{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'node_modules/sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.rtl.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Au</title>

    {% load pwa %}
    {% progressive_web_app_meta %}
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'autenticacion' %}" >
            <img src="{% static 'img/UA.png' %}" alt="" width="100" height="40" >
          </a>
          <a class="navbar-brand" href="{% url 'autenticacion' %}" id="esconder">
            
            Universidad de los Angeles
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'addAlumno' %}">Añadir Alumno</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'addcarreras' %}">Añadir carrera</a>
              </li>
             <!---<li class="nav-item dropdown navbar-dark bg-dark">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Buscar historial
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Buscar historial</a></li>
                  <li><a class="dropdown-item" href="#">Historial pago</a></li>
       
                </ul>
              </li>-->
              <li class="nav-item dropdown navbar-dark bg-dark">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tipos de Pagos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'addpagos' %}"> Agregar Tipo Pago</a></li>
                  <li><a class="dropdown-item" href="{% url 'pagos' %}">Ver Tipos de Pagos</a></li>
       
                </ul>
              </li>
            
            </ul>
            <form class="d-flex">
                    <input type="text" class="form-control pull-right"  id="search" placeholder="Buscar en tabla">
                   </div>
           
              <button class="btn btn-outline-success" type="submit" onclick="salir()">Salir</button>
            </form>
          </div>
        </div>
      </nav>

      {% block content %}

      <div class="container" id="contenedor">

        <h1 style="color: rgb(155, 155, 155); text-align: center;">TABLAS y formularios</h1>
        
        <table class="table table-dark table-hover " id="mytable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
      


        
      </div>
      
      {% endblock content %}
      <footer>

        

      </footer>




   


    
</body>



<script src="/path/to/jquery-param.min.js"></script>
<script src="{% static 'js/alerts.js' %}"></script>
<script src="{% static 'js/busqueda.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>

</html>