/* header principal arriba*/
header{
    background: rgb(96,123,149);
background: linear-gradient(90deg, rgba(96,123,149,1) 0%, rgba(0,35,68,1) 100%, rgba(176,217,255,1) 100%);
    height: 20px;
}
.header-arriba{
    font-size: 15px;
    color: rgb(117, 114, 114);
}
/* header principal abajo*/
.header2{
    background: rgb(0,66,129);
background: linear-gradient(90deg, rgba(0,66,129,1) 0%, rgba(18,75,130,1) 64%, rgba(176,217,255,1) 100%);
    height: 50px;
}
.imagen-logo{
    height: 50px;
    margin-left: -100px;
    transition: 0.5s;
}.imagen-logo:hover{
height: 48px;
}

#icon{
    color: white;
    font-size: 40px;
    text-align: left;
    transition: 0.4s;
    margin-top: 5px;
    margin-left: 100px;
} 
#icon:hover{
    color: #004281;

}

.fondo img{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    margin-top: 160px;
}


body{
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}
.logo{
    color: white;
    font-size: 40px;
}
.color { 
    color: white;
    
}



#sidebar-container {
    background: rgb(0,35,68);
background: linear-gradient(180deg, rgba(0,35,68,1) 0%, rgba(0,66,129,1) 50%, rgba(176,217,255,1) 100%);
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

.menu{
    width: 15rem;
    
}
#enlace{
    text-decoration: none;
 
}


#div1 {
    overflow:scroll;
    height: 600px;
    width: 100%;
    
   
}

