

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0, 62, 112);
}


.container{
margin-top: 20px;
}

#contenedor{
    background: #212529;
    border-radius: 15px;
 
}


footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background: #212529;
    text-align: center;
    color: rgb(196, 196, 196);
}

@media screen and (max-width: 900px){
    #esconder{
       display: none;
    }
    }