{% extends 'base.html' %}

{% load static %}

{% block title %}{{accion}} Pago{% endblock %}

{% block contenido %} {% endblock %}


{% block content %}
<div style="text-align:center;"> 

<h1 style="color: rgb(47, 83, 47);">{{accion}} Pago</h1>
<form method="post">
<Table class="table table-bordered">
{% csrf_token %}
    <label for="team_name">Ingrese la Matricula: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="Buscar">
    <Table class="table table-bordered">
</form>

</div>
{% endblock %}